<mat-card appearance="outlined">
  <mat-toolbar color="primary">Cursos disponíveis</mat-toolbar>
  <mat-card-content>
    <!-- <div *ngIf="courses$ | async as courses; else loading"> Usado quando tratamento específico de dados para material table -->
    <div *ngIf="courses.length; else loading">
      <table mat-table [dataSource]="courses" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Name -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nome do curso</th>
          <td mat-cell *matCellDef="let elem">{{ elem.name }}</td>
        </ng-container>

        <!-- Name Category -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Categoria do curso</th>
          <td mat-cell *matCellDef="let elem">{{ elem.category }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>


